*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  

body{
    background: #001939;
}

.main{
    width: 100%;
    max-width: 550px;
    margin: 50px auto 0;
}
.main h1{
    color: #7ed348;
    font-size: 60px;
    margin: 10px auto 30px;
    text-align: center;
    font-weight: 700;

}
.game {
    height: 400px;
    width: 400px;
    margin: 10px auto 10px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.border{
    width: 20px;
    height: 120px;
    background: #fff;
    border-radius: 4px;
    margin: 2px;

}
.col-border{
    width: 100%;
    height: 20px;
    background: #fff;
    border-radius: 4px;
}
.button{
    width: 90px;
    border: 0;
    outline: 0;
    color: #001939;
    background: #7ed348;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    display: block;
    margin: 50px auto;
}
.button:hover{
    background: #44a109;
    font-weight: 800;
}
.turn{
    display: block;
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
    color: #fff;
    font-size: 30px;
}
.turn span{
    color: #7ed348;
}

.play{
    width: 100px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    color: #7ed348;
    cursor: pointer;
}
